@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gradient-start: rgba(238, 174, 202, 1);
  --gradient-end: rgba(148, 187, 233, 1);
  background: radial-gradient(
    circle,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
  --placeholder-color: #1E2126; 
  --border-color: #1E2126;
  --text-color: #1E2126;
  --button-color: #1E2126;

}

[data-theme="dark"] {
  --gradient-start: rgba(36, 31, 49, 1);
  --gradient-end: rgba(0, 0, 0, 1);
  background: radial-gradient(
    circle,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
  --placeholder-color: #deddda; 
  --border-color: #deddda;
  --text-color: #deddda;
  --button-color: #deddda;
}

input::placeholder {
  color: var(--placeholder-color)
}